.alert-msg{
    background: rgba(50, 144, 50, 0.7);
    color: #fff;
    padding: 15px 15px;
    border-radius: 4px;
    
    box-shadow: 0 0 3px #a7a7a7;
    position: fixed;
    top: 30px;
    z-index: 999999999;
    
}

.alert-msg li p, .alert-msg-error li p{
    margin-bottom: 0;
}

.alert-msg li .fa{

 font-size: 35px;
}

.alert-heading{
        font-size: 15px;
    font-weight: 500;
}


.alert-msg-error li img.img-of-error{
       max-width: 35px;
    position: relative;
    top: -8px; 

}

.alert-msg-error{
background: rgba(177, 49, 40, 0.88);
    color: #fff;
    padding: 15px 15px;
    border-radius: 4px;
    box-shadow: 0 0 3px #a7a7a7;
    position: fixed;
    top: 30px;
    z-index: 99;
}

@media(min-width:400px){
    .alert-msg, .alert-msg-error {
        width: 350px;
        right: 8px;
    }
    
}

@media(max-width:400px){
    .alert-msg, .alert-msg-error {
        width: 94%;
        right: 3%;
        left: 3%;
    }
}